*{
    margin:0;
    font-family: Helvetica,Arial,"Verdana","Geneva",sans-serif;
}
button:focus{
    outline: none;
}
a{
    color: inherit;
    text-decoration: none;
}

.top-nav-bar{
    background-color: #F9F9F9;
    width: 100%;
    height: 30px;
    position: fixed;
    z-index: 1;
}

.top-nav-left-bar{
    float: left;
    font-size: 12px;
    /* margin-top: 4px;
    margin-left: 4px; */
}

#enable-accessibility{
    border: none;
    background-color: #F9F9F9;
    padding: 8px 20px 8px 5px;
}

#enable-accessibility:hover{
    color: red;
    border: black;
    border-width: 1.5px;
    border-style: none solid solid none;
}

.top-nav-mid-bar{
    padding-top: 5px;
}

.first-mid-bar{
    padding-left: 23%;
    font-size: 12px;
}

.first-mid-bar a{
    color: black;
    text-decoration: none;
    padding-right: 150px;
}

.second-mid-bar{
    padding-top: 8px;
    font-size: 12px;
}

.second-mid-bar a{
    color: black;
    text-decoration: none;
}

#specials{
    padding-left: 42px;
}

#specials:hover{
    color: blue;
    text-decoration: underline;
}

.top-nav-right-bar{
    /* padding-left: 86%;
    padding-top: 8px; */
    float: right;
    font-size: 12px;
}

.menu-bar{
    background-color: white;
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 1;
    top: 3.7%;
}
/* .shadow {
    position: sticky;
    top: 70%;
    width: 100%;
    z-index: 1;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
  } */

.white-block{
    width: 80%;
    height: 40px;
    position: fixed;
    z-index: 1;
    top: 4%;
    left: 46%;
    padding-top: 18px;
    font-size: 25px;
}
.white-block a{
    color: black;
    padding-left: 20px;
}
.white-block-buttons{
    padding-left: 450px;
}

.logo{
   font-family: 'Bebas Neue', sans-serif;
   font-size: 30px;
   letter-spacing: 5px;
}
.search-div{
    background-color: white;
    width: 100%;
    height: 290px;
    position: fixed;
    z-index: 1;
    top: 14%;
    padding-top: 18px;
    font-size: 25px;
    text-align: center;
}
#search-bar-input{
    height: 40px;
    width: 1000px;
    border-style: none none solid none;
    padding-left: 85px;
    font-size: 14px;
}
#search-bar-input:focus{
    outline: none;
}
.search-div:after{
    content: "\f002";
    font-family: FontAwesome;
    font-style: large;
    font-weight: normal;
    text-decoration: inherit;
    color: #5f6368;
    font-size: 20px;
    padding-left: 220px;
    padding-top: 18px;
    position: absolute;
    top: 10px;
    left: 0;
}
.search-div:before{
    content: "\f00d";
    font-family: FontAwesome;
    font-style: large;
    font-weight: normal;
    text-decoration: inherit;
    color: #5f6368;
    font-size: 30px;
    padding-right: 220px;
    padding-top: 18px;
    position: absolute;
    top: 10px;
    right: 0;
}
#close-search-div{
    padding-top: 18px;
    position: absolute;
    top: 25px;
    right: 220px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#close-search-div::placeholder{
    color: #f2f2f2;
}
#search-box-results{
    text-align: left;
    padding-left: 240px;
}
#trending-list{
    list-style-type: none;
    font-size: 12px;
}
h5{
    font-size: 13px;
    padding-left: 39px;
}
#trending-list li{
    padding-top: 14px;
}
#gallery-search{
    text-align: left;
    padding-left: 600px;
    padding-top: 20px;
}
#gallery-search button{
    background-color: white;
    margin: 3px;
    padding: 10px 15px 10px 15px;
    border-radius: 2.5px;
    font-size: 10px;
    border: solid black;
    text-align: center;
    cursor: pointer;
}
.categories{
    width: 80%;
    height: 40px;
    position: fixed;
    z-index: 1;
    top: 12%;
    left: 25%;
    padding-top: 18px;
    font-family:  Helvetica,Arial,sans-serif;
    font-size: 13px;
}

.categories a{
    padding-right: 50px;
    color: black;
    text-decoration: none;
}

.categories a:hover{
    font-weight: bold;
    text-decoration: underline;
}

#riley-rose{
    font-family: Indie Flower;
}

#help-button{
    border: none;
    background-color: #F9F9F9;
    padding: 4px 20px 8px 5px;
}

#country-button{
    border: none;
    background-color: #F9F9F9;
    padding: 4px 20px 8px 5px;
}

/* #search-bar:before{
    content: "\f130";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #5f6368;
    font-size: 20px;
    padding-right: 25px;
    position: absolute;
    top: 10px;
    right: 0;
    vertical-align: middle;
} */

#search-button{
    border-style: none none solid none;
    border-color: #5f6368 ;
    height: 30px;
    font-size: 13px;
}

.search-button{
    padding-left: 150px;
}

.yellow-banner{
    background-color: #FFF36C;
    width: 85%;
    height: 40px;
    /* top: 20%;
    left: 8%; */
    padding-top: 18px;
    position: absolute; 
    visibility: visible; 
    left: 8%; 
    top: 20%; 
    z-index: 0; 
}

.yellow-banner a{
   color: black;
   text-decoration: none;
}

#yellow-banner{
   font-size: 22px;
   margin-left: 3%;
   letter-spacing: .5px;
   font-family:  'Montserrat', sans-serif;
}

.main-block-1{
    background-color: #EC6B33;
    border-right: 38.2rem solid #F8DEE7;
    width: 42.5%;
    height: 500px;
    /* top: 30%;
    left: 8%; */
    padding-top: 18px;
    position: absolute; 
    visibility: visible; 
    left: 8%; 
    top: 30%; 
    z-index: 0; 
}
.half-line{
    background-color: #0348EB;
    height:518px;
    width: .2rem;
    margin-left:100%;
    margin-top: -3%;
}

.main-block-2{
    background-color: #0348EB;
    width: 85%;
    height: 90px;
    /* top: 30%;
    left: 8%; */
    padding-top: 18px;
    position: absolute; 
    visibility: visible; 
    left: 8%; 
    top: 95%; 
    z-index: 0; 
}
.main-block-2{
    text-align: center;
}
#mb-2-ad{
    background-color: #F8DEE7;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 0.2%;
    height:70px;
    color: #0348EB;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
#mb-2-ad span{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
#mb-2-ad button{
    background-color: #0348EB;
    color: #F8DEE7;
    letter-spacing: 5px;
    height: 50px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.main-block-3{
    background-color: #F8E6E6;
    width: 85%;
    height: 500px;
    /* top: 30%;
    left: 8%; */
    padding-top: 18px;
    position: absolute; 
    visibility: visible; 
    left: 8%; 
    top: 110%; 
    z-index: 0; 
}
.main-block-4{
    background-color: #F6BB33;
    width: 85%;
    height: 500px;
    /* top: 30%;
    left: 8%; */
    padding-top: 18px;
    position: absolute; 
    visibility: visible; 
    left: 8%; 
    top: 175%; 
    z-index: 0; 
}

.main-block-5{
    background-color: #BDD6DE;
    width: 85%;
    height: 500px;
    /* top: 30%;
    left: 8%; */
    padding-top: 18px;
    position: absolute; 
    visibility: visible; 
    left: 8%; 
    top: 240%; 
    z-index: 0; 
}

.main-block-6{
    background-color: #ECECEC;
    width: 85%;
    height: 500px;
    /* top: 30%;
    left: 8%; */
    padding-top: 18px;
    position: absolute; 
    visibility: visible; 
    left: 8%; 
    top: 305%; 
    z-index: 0; 
}

.main-block-7{
 
}